* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkslateblue;
}

.imgBox {
  background-image: url("https://avatars.githubusercontent.com/u/114848776?s=400&u=c45f75b7c8da769f1aa0cef553ef1955a8a3db14&v=4");
  position: relative;
  height: 400px;
  width: 400px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.box {
  height: 420px;
  width: 420px;
  background-color: white;
  margin: 10px;
  display: inline-block;
  border: 5px solid black;
}

.border {
  border: 5px solid red;
}

.hide {
  display: none;
}

.enter {
  background-color: green;
}

.leave {
  background-color: white;
}
